* {
    font-family: 'Russo One', sans-serif;
    color: white;
}

/*------------CONFIG DE TAGS------------*/
body {
    margin: 0;
    padding: 0;
    background-color: #1F1F1F;
}

button {
    font-size: 14pt;
    background-color: #CE0000;
    border: none;
    border-radius: .625rem 0 .625rem 0;
}

a {
    text-decoration: none;
}

a:hover {
    transform: scale(0.9);
    transition: 0.5s;
}

.header_buttons a:hover {
    transform: scale(1.1);
}

button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

/*----------------------HEADER---------------------*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;

    background-color: #3D3C3C;
    border-bottom: .0625rem solid #CE0000;
}

.header h1 {
    margin-left: 1.25rem;
}

.navbar {
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    list-style: none;
    font-size: 18pt;
}

.header_buttons {
    height: 100%;
    width: 40%;
    padding-right: 2.5rem;
    margin-left: 18.75rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header_buttons a {
    width: fit-content;
    height: 100%;
}

.header_buttons button{
    height: 2.1875rem;
    width: 11.25rem;
}

/*-----------------BANNER---------------*/
.banner{
    background-image: url('../assets/banner.png');
    width: 100%;
    height: 600px;
    padding-top: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-bottom: .0625rem solid #CE0000;
}

.banner_titulo {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 1.25rem;
}

.banner_titulo h1 {
    width: 70%;
    margin: 0;
    padding-top: 6.25rem;
    font-size: 3.125rem;
}

.banner_titulo span{
    width: 37.5rem;
    font-size: 20px;
}

.button_cadastro {
    display: flex;
    justify-content: center;

    padding-bottom: 9.375rem;
    width: 18.75rem;
}

.button_cadastro button {
    height: 5rem;
    font-size: 20pt;
    font-weight: 500;
}

/*-----------------TELA DA HOMEPAGE----------------*/
.card_container {
    width: 100%;
    padding-top: 5rem;

    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
}

.titulo_card {
    font-weight: 400;
    width: 50%;
    text-align: center;
}

.card {
    margin-bottom: 6.25rem;
    margin-right: 3.125rem;
    margin-left: 3.125rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto_card {
    width: 100%;
    height: 12.5rem;
    padding-left: .625rem;
    padding-top: 3.75rem;
    padding-bottom: 1.5625rem;
    background-color: #3D3C3C;
    border: .0625rem solid #CE0000;

    display: flex;
    flex-direction: row;

    text-align: start;

    font-size: 16pt;
    text-indent: 2.5rem;

    border-radius: 1.875rem 0 1.875rem 0;
}

#texto_proposito {
    height: 150px;
}

#texto_influencia {
    display: flex;
    padding-bottom: 1.5625rem;
    height: 10.625rem;
}

#container_dev {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#texto_dev {
    padding-bottom: 20px;
}

#texto_onu {
    padding-bottom: 0;
}

#container_dev img {
    position: relative;
    bottom: 2.5rem;
    right: .625rem;
    width: 15rem;
    height: 15rem;  
}

#container_onu img {
    position: relative;
    margin-right: .625rem;
    bottom: 3.125rem;
    width: 15rem;
    height: 15rem;
}

/*--------------CARROSSEL-------------*/

.carrossel_container {
    width: 100%;
    height: 500px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.carrossel_container button {
    margin: 10px;
}

.itens_carrossel_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    /* background-color: aqua; */
}

.item_carrossel {
    background-color: #3D3C3C;
    border: 1px solid #CE0000;
    border-radius: 0 15px 0 15px;
    width: 450px;
    height: 80%;
    overflow: hidden;
    position: relative;
    margin-right: 50px;
}

#shadow {
    background-image: url("../assets/Shadow_bg.jpg");
    background-position: 50% 0;
}

#darkSouls {
    background-image: url("../assets/DS_bg.jpeg");
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

#minecraft {
    background-image: url("../assets/mine_bg.png");
    background-size: 450px;
    background-position: 20% 30%;
}

#persona {
    background-image: url("../assets/P3_bg.jpeg");
    background-size: 750px;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.fundo_item_carrossel {
    width: 100%;
    height: 100%;
    opacity: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fundo_item_carrossel h1{
    margin: 0;
    width: 30%;
}

.seta_carrossel {
    background-color: transparent;
    height: 50px;
    width: 50px
}

/*-----------------FOOTER----------------*/
.footer {
    background-color: #3D3C3C;
    border-bottom: .0625rem solid #CE0000;
    padding: .625rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo {
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.mensagem_desenvolvedor {
    width: 15rem;
}

.redes_sociais {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.redes_sociais span {
    display: flex;
    align-items: center;
}

.redes_sociais img {
    width: 1.875rem;
    height: 1.875rem;

    padding-right: .625rem;
}

::-webkit-scrollbar {
    width: .3125rem;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #CE0000;
    border-radius: .3125rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*------------CADASTRO------------------*/
.cadastro_container {
    width: 100vw;
    height: 100vh;
}

.cadastro_container img {
    position: absolute;
    right: 40.625rem;
    top: 6.25rem;
    width: 80%;
    height: 85%;
}

/*----------FORMULARIO----------*/
.formulario {
    width: 40%;
    height: 75%;
    border-radius: 3.125rem 0 3.125rem 0;
    border: .0625rem solid #CE0000;

    position: relative;
    left: 50%;
    top: 18%;
    background-color: #3D3C3C;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 40px;
}

.inputs input {
    width: 70%;
    height: 2.1875rem;

    color: white;
    background-color: #282828;
    border: .0625rem solid black;
    border-radius: .9375rem 0 .9375rem 0;
    text-indent: .625rem;
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0;
    width: 100%;
}

.checkbox input {
    width: 1.25rem;
    height: 1.25rem;
}

.checkbox span {
    padding-top: .25rem;
}

#button_cadastrar {
    width: 30%;
    height: 3.125rem;
    margin-top: 30px;
    font-size: 20pt;
}

#button_login {
    width: 30%;
    height: 3.125rem;
    margin-top: 30px;
    font-size: 20pt;
    box-shadow: 1px 1px 2px black;
}

.mensagem_erro {
    color: red;
    position: absolute;
}

#mensagem_erro_nomeUsuario {
    bottom: 390px;
}

#mensagem_erro_apelido {
    bottom: 312px;
}

#mensagem_erro_email {
    bottom: 232px;
}

#mensagem_erro_senha {
    bottom: 137px;
}

#mensagem_erro_confirmSenha {
    bottom: 77px;
}

#mensagem_erro_email_login {
    bottom: 275px;
}

#mensagem_erro_senha_login {
    bottom: 195px;
}

#mensagem_erro_campos_invalidos {
    top: 500px;
}